docopt==0.6.2
h5py==3.10.0
matplotlib==3.7.3
numpy==1.24.4
opencv-python==4.8.1.78
pandas==2.0.3
kornia==0.7.0
patchify==0.2.3
scikit-image==0.21.0
scipy==1.10.1
segmentation-models-pytorch==0.3.3
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
